body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.button {
    border-radius: 28px;
    border: 1px solid white;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    padding: 8px 16px;
}

.button.cta {
    background-color: #14B46C;
    border-color: #14B46C;
}

.button:hover {
    opacity: 0.8;
}

main {
    padding-top: 60px;
}
/*** fine regole layout base ***/

/*** header ***/
header {
    background-color: #FFB100;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

#logo-container {
    text-align: center;
}

#logo-container img {
    height: 27px;
    margin-top: calc((60px - 27px) / 2);
    cursor: pointer;
}

#accedi-container {
    text-align: right;
}

#accedi {
    background-color: rgba(255,255,255,0.25);
    color: white;
    padding: 8px 16px;
    line-height: 60px;
    margin-right: 12px;
    border-radius: 20px;
    font-size: 14px;
}

#accedi i {
    margin-right: 5px;
    font-size: 12px;
}
/*** fine header ***/

/*** jumbo ***/
#jumbo {
    background-color: #FFB100;
    height: 900px;
    padding-right: 60px;
    padding-bottom: 80px;
}

#jumbo-img {
    background-image: url('https://www.nowtv.it/content/dam/static/contentimages/original/sezioni/nowtv/1_home_trial/2018/visori_nuovi/VisoreDoppioXF13_1994.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    position: relative;
}

#jumbo-text {
    background-color: white;
    width: 303px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100px;
    padding: 30px 40px;
    color: #680091;
    text-align: center;
    border-radius: 5px;
}

#jumbo-text img {
    margin-bottom: 30px;
}

#jumbo-text p {
    line-height: 1.5;
}

#jumbo-text .cta {
    display: block;
    padding: 16px 20px;
    margin-top: 30px;
}

/*** fine jumbo ***/

/*** ribbon ***/
#ribbon {
    background-color:  #680091;
    height: 70px;
}

#ribbon p {
    text-align: center;
    color: white;
    line-height: 70px;
    font-weight: bold;
}

#ribbon .button {
    margin-left: 20px;
    font-weight: normal;
}

#movies img {
    max-width: 100%;
    border-right: 5px solid white;
}

#movies .col-lg-3:last-child img {
    border-right: none;
}
/***fine ribbon***/
/***tre_colonne***/
#perche_non_potrai {
    height: 500px;
    background-color: #022b42;
    text-align: center;
    color: #fff;
    padding: 30px 0;
}
.row {
    width: 992px;
    margin: 0 auto;
}
#perche_non_potrai .col-lg-4 {
    padding-left: 15px;
    padding-right: 15px;
}
#perche_non_potrai h2 {
    text-transform: uppercase;
    font-size: 32px;
    margin-top: 60px;
    margin-bottom: 50px;
}
#perche_non_potrai h3 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
#perche_non_potrai p {
    line-height: 25px;
    font-weight: 500;
}
#perche_non_potrai img {
    width: 90px;
    height: 90px;
}
#vuoi_tanto_calcio {
    background-color: #1C5EEA;
    text-align: center;
    color: white;
    padding-bottom: 50px;
}
#vuoi_tanto_calcio h1 {
    font-size: 32px;
    margin: 30px 0;
}

#vuoi_tanto_calcio a {
    padding:12px 40px;
    font-size: 14px;
    font-weight: 500;
}
#vuoi_guardare_nowtv {
    background-color: #003366;
    text-align: center;
    color: white;
    padding-bottom: 50px;
}
#vuoi_guardare_nowtv h1 {
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 15px;
}
#vuoi_guardare_nowtv p {
    font-size: 16px;
    margin-bottom: 70px;
    font-weight: 500;
}
#vuoi_guardare_nowtv img {
    margin-bottom: 25px;
}
#vuoi_guardare_nowtv a {
        padding:12px 40px;
        font-size: 14px;
        font-weight: 500;
}
footer {
    background-color: #1C1C21;
    height: 300px;
    padding: 35px 15px;
    color:white;
}
footer ul {
    list-style-type: none;
}
footer ul li {
    padding-bottom: 18px;
}
footer ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
#social a {
    color: white;
    font-size: 25px;
    margin-left: 15px;
}
#small {
    margin-top: 25px;
    font-size: 16px;
}
#small strong {
    text-decoration: underline;
}

@media screen and (max-width: 1440px) {
    #jumbo {
        height: 650px;
    }

    #jumbo-text {
        left: 50px;
    }
}

@media screen and (max-width: 1300px) {
    #jumbo {
        height: 550px;
    }
}

@media screen and (max-width: 1200px) {
    #perche_non_potrai h2 {
        font-size: 26px;
    }
    #perche_non_potrai h3 {
        font-size: 20px;
    }
    #perche_non_potrai p {
        line-height: 25px;
        font-size: 14px;
    }
    #jumbo {
        height: 920px;
        padding-right: 0;
        padding-bottom: 10px;
    }

    #jumbo-img {
        height: 600px;
        width: 100%;
        background-size: cover;
        background-position: right center;
    }

    #jumbo-text {
        top: 590px;
        left: 50%;
        width: 50%;
        transform: translateX(-50%);
    }

}

@media screen and (max-width: 1023px) {
    footer {
        height: auto;
    }
    #small {
        padding: 0 40px;
    }
    .row {
        width: 730px;
        margin:0 auto;
    }
    #accedi {
        background: transparent;
        margin-right: 0;
    }

    #accedi span {
        display: none;
    }

    #accedi i {
        font-size: 16px;
    }

    #jumbo {
        height: 760px;
    }

    #jumbo-img {
        height: 400px;
    }

    #jumbo-text {
        top: 390px;
    }
    #vuoi_tanto_calcio img {
        width: 100%;
        height: 100%;
    }
    #vuoi_guardare_nowtv img {
        width: 50%;
        height: 50%;
    }
}
@media screen and (max-width:992px) {

    #immagine_tre, #immagine_quattro {
        display: none;
    }
    .row {
        width: 100%;
    }
    #vuoi_tanto_calcio img {
        width: 80%;
        height: 80%;
    }
    #vuoi_guardare_nowtv img {
        width: 300px;
        height: 150px;
    }
    #vuoi_guardare_nowtv p {
        margin-bottom: 50px;
    }
    footer {
        padding-left: 100px;
        padding-right: 100px;
        height: 520px;
    }
    footer .col-md-12 {
        margin-bottom: 30px;
    }
    .col-md-12, .col-md-6 {
        text-align: center;
        padding: 0 30px;
    }
    footer ul li {
        border-top: 1px solid rgba(255,255,255,0.25);
        padding: 18px 0;
    }
    footer ul li:last-child {
        border-bottom: 1px solid rgba(255,255,255,0.25);
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 767px) {

    footer {
        height: auto;
        padding:20px;
    }
    #secondo_ul {
        position: relative;
        bottom:20px;
    }


    #vuoi_guardare_nowtv img {
        width: 60%;
        height: 60%;
    }

    #vuoi_guardare_nowtv h1 {
        font-size: 25px;
    }
    #vuoi_guardare_nowtv p {
        font-size: 18px;
        margin-bottom: 50px;
    }

    #vuoi_tanto_calcio h1 {
        font-size: 25px;
        margin: 30px 0;
    }

    #perche_non_potrai  {
        height: auto;
    }
    #perche_non_potrai h2 {
        font-size: 20px;
    }
    #perche_non_potrai h3 {
        font-size: 18px;
    }
    #perche_non_potrai p {
        margin-bottom: 20px;
    }
    #perche_non_potrai img {
        height: 70px;
        width: 70px;
    }

    #immagine_uno img {
        width: 100%;
    }
    #immagine_due {
        display:none;
    }
    header {
        height: 50px;
    }

    main {
        padding-top: 50px;
    }

    #logo-container img {
        margin-top: calc((50px - 27px) / 2);
    }

    #accedi {
        line-height: 50px;
        font-size: 20px;
    }

    #accedi i {
        font-size: 20px;
    }

    #jumbo-text {
        width: 300px;
    }

    #ribbon {
        height: auto;
    }

    #ribbon .ribbon-cta-container {
        display: block;
        text-align: center;
        line-height: 1.5;
        padding-bottom: 30px;
    }

    #ribbon .button {
        margin-left: 0;
    }

}
